## Sets ==> {1,2,3}, set()
- adresse mémoire ==> id
- éléments uniques
- pas ordonnés
- mutable

In [3]:
set1 = {1,2,3}
set1.add(4)
set1.add(1)
set1

{1, 2, 3, 4}

In [4]:
set1[1]

TypeError: 'set' object is not subscriptable

In [7]:
# set1.remove(3)
# pour éviter les sorties d'erreur
set1.discard(3)

In [9]:
# vérifier la présence d'un élément dans un set
print(2 in set1)
set1

True

{1, 2, 4}

In [11]:
set2 = {4,5,6}
# intersection_set = set1 & set2
intersection_set = set1.intersection(set2)
intersection_set

{4}

In [12]:
# différence symétrique (XOR)
difference_symetrique = set1 ^ set2
difference_symetrique

{1, 2, 5, 6}

In [14]:
liste_voiture = ["renault", "audi", "porsche", "audi"]
set_voiture = set(liste_voiture)
set_voiture

{'audi', 'porsche', 'renault'}